:root{
    /*Tema Claro*/
    --claro-color-primario: #18515B;
    --claro-texto-primario: white;
    --claro-color-secundario: #006D77;
    --claro-texto-secundario: #1B2021;
    --claro-color-acento: #00636C;
    --claro-color-hover: #006D77;


    /*Tema Oscuro*/
    --oscuro-color-primario: #6E1423;
    --oscuro-texto-primario: #929595;
    --oscuro-color-secundario: #A11D33;
    --oscuro-texto-secundario: #30343F;
    --oscuro-color-acento: #DA1E37;
    --oscuro-color-hover: #E01E37;
}

/*uso de variables segun el tema*/
body.tema-claro{
    --color-primario: var(--claro-color-primario);
    --texto-primario: var(--claro-texto-primario);
    --color-secundario: var(--claro-color-secundario);
    --texto-secundario: var(--claro-texto-secundario);
    --color-acento: var(--claro-color-acento);
    --color-hover: var(--claro-color-hover);
}

body.tema-oscuro{
    --color-primario: var(--oscuro-color-primario);
    --texto-primario: var(--oscuro-texto-primario);
    --color-secundario: var(--oscuro-color-secundario);
    --texto-secundario: var(--oscuro-texto-secundario);
    --color-acento: var(--oscuro-color-acento);
    --color-hover: var(--oscuro-color-hover);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--texto-primario);
    color: var(--color-primario);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*header*/

html{
    font-size: 1rem; /*1rem = 20px*/
}

header{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-primario);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: .5rem 1rem;
    background-color: var(--color-secundario); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.nav-link, .boton-tema{
    text-decoration: none;
    color: var(--texto-primario);
    font-weight: bold;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link:hover, .boton-tema:hover{
    color: var(--texto-primario);
}

/*submenus*/
.dropdown{
    position: relative;
}

.dropdown-menu{list-style: none;
    position: absolute;
    top: 100%; /* Debajo del menú padre */
    left: 0;
    background-color: #fff;
    display: none; /* Oculto por defecto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 150px;
}

.dropdown-link {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-link:hover {
    background-color: #f0f0f0;
}

/* Mostrar submenú al hacer hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilos para los botones de iconos */
.icon-button {
    background: none; /* Sin fondo */
    border: none; /* Sin bordes */
    color: var(--texto-primario); /* Color del texto o icono */
    cursor: pointer; /* Cambia el cursor a una mano */
    font-size: 24px; /* Tamaño del icono */
    transition: color 0.3s ease; /* Transición suave al pasar el mouse */
}

.icon-button:hover {
    color: var(--color-hover); /* Cambia de color al pasar el mouse */
}

/* Video de fondo en el header */
.video-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px; /* Altura del contenedor */
    overflow: hidden;
}

.video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que el video ocupe todo el espacio del header sin distorsionarse */
}

/* Botón para quitar el mute */
.mute-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.mute-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/*tarjetas flex*/
.ateez{
    text-align: center;
    padding: 20px;
}

.carrera{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.integrantes, .discografia, .premios, .tours, .redes{
    background-color: var(--color-secundario);
    color: var(--texto-primario);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover{
    transform: scale(1.05);
    background-color: var(--texto-secundario);
}

/*formulario*/
form-horizontal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
}
/*boton*/
button{
    background-color: var(--color-acento);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: var(--color-hover);
}

/* Media Queries para Responsividad */
@media (min-width: 770px) {
    .navbar{
        flex-direction: row;
    }

    .carrera{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}
